<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>

<body>
    <button class="w-2/3 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white p-2 rounded-md mt-3"
        onclick="location.href='/login'">
        Ir a login
    </button>

    <div class="container mt-6">
        <div class="field">
            <form action="/register" method="post"
                class="control has-icons-left has-icons-right w-2/3 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto">
                <label class="label">Nuevo Usuario</label>
                <input type="text" name="first_name" placeholder="Nombre"
                    class="input is-success mt-3 placeholder-gray-500"></input>
                <input type="text" name="last_name" placeholder="Apellido"
                    class="input is-success mt-3 placeholder-gray-500"></input>
                <input type="number" name="age" placeholder="Edad"
                    class="input is-success mt-3 placeholder-gray-500" min="0" max="100"></input>
                <input type="email" name="email" placeholder="Email"
                    class="input is-success mt-3 placeholder-gray-500" required></input>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <input type="password" name="password" placeholder="Crea una contraseña"
                    class="input is-success mt-3 placeholder-gray-500" required></input>
                <button type="submit"
                    class="w-full bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white p-2 rounded-md mt-3">
                    Registrarme
                </button>
            </form>
        </div>
    </div>
</body>

</html>
